<div class="cart">
	<span class="cart__quantity" data-att-addtocart>0</span>
</div>

<div data-att-addtocart-product class="product">
	<img src="@img/favicon.ico" data-att-addtocart-image alt="Image">
	<div data-att-quantity class="quantity">
		<button data-att-quantity-minus type="button" class="quantity__button quantity__button--minus"></button>
		<div class="quantity__input">
			<input data-att-addtocart-quantity data-att-quantity-value autocomplete="off" type="text" name="form[]" value="1">
		</div>
		<button data-att-quantity-plus type="button" class="quantity__button quantity__button--plus"></button>
	</div>
	<button data-att-addtocart-button>Add</button>
</div>