
# вантажимо
!/src/
!/template_modules/
!/docs/
!/template.config.js
!/vite.config.js
!/package.json
!/.gitignore


node_modules/
.vite/
.cache/
*.log
npm-debug.log*
yarn-error.log*


*.fig
*.zip
*.rar
*.7z
*.psd
*.ai
*.sketch
*.xd

*.md

/dist/
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini


.env
.env.*
*.local
