	<picture>
	  <source srcset="@img/baguette-pc.png" media="(min-width: 30.062em)" type="image/webp">
	  <source srcset="@img/baguette-mb.png" media="(max-width: 30.061em)" type="image/webp">
	  <img class="ibg" src="@img/baguette--pc.png" width="1440" height="800" alt="image">
	</picture>

	<picture>
	  <source srcset="img/mobile-image.webp 1x, img/mobile-image@2x.webp 2x" media="(max-width: 30.061em)" type="image/webp">
	  <source srcset="img/desktop-image.webp 1x, img/desktop-image@2x.webp 2x" type="image/webp">
	  <img src="img/desktop-image.jpg" width="1440" height="800" alt="image">
	</picture>

	<picture>
	  <source srcset="img/ 1x, img/ 2x" media="(max-width: 30.061em)" type="image/webp">
	  <source srcset="img/ 1x, img/ 2x" type="image/webp">
	  <img src="img/" width="1440" height="800" alt="image">
	</picture>

	<picture>
	  <source media="(max-width: 30.186em)" srcset="@img/hero/image-mb.webp" type="image/webp">
	  <img data-img-ignore fetchpriority="high" width="375" height="784" alt="Image" src="@img/hero/poster-1.webp">
	</picture>