@font-face {font-family: UbuntuCondensed;font-display: swap;src: url("@fonts/UbuntuCondensed-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Spaceland;font-display: swap;src: url("@fonts/Spaceland-Ten.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: PinupPringles;font-display: swap;src: url("@fonts/PinupPringles-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
