<form action="#" data-att-novaposhta data-att-select-one class="novaposhta">
	<div class="novaposhta__item">
		<select id="np-city" name="np-city" data-att-select data-att-select-search data-att-select-modif="form">
			<option selected value>Населений пункт</option>
		</select>
	</div>
	<div class="novaposhta__item">
		<select id="np-point" name="np-point" data-att-select data-att-select-search data-att-select-modif="form">
			<option selected value>Відділення/Поштомат</option>
		</select>
	</div>
</form>